# Peer_assignment

## this is the introduction to the peer assignment submitted. Do grace me with marks.

### Datascience languages list:
* Python
* R
* SQL
* Scala
* Java
* Julia
* C++
* Perl

### List of some data science libraries:
* NLTK
* Tensorflow
* Pandas
* Scipy
* GGplot
* Numpy
* scikit learn
* Dplyr
* Tidyverse
* TidyText
* Matplotlib
* Math

### This is the table of Data science Tools:
* Tableu
* Google Colab
* Watson
* Jupyter notebook
* JupyterLab
* MS PowerBI
* RStudio
* Apache Spark
* SPSS
* SAS
* SPreadsheets
* KNIME

### Markdown for arethmetic examples:
* 2*2 
* 2+4
* 2/4
* 2//4
* 2-4

In [4]:
#code cell to multiply numbers
2*2

4

In [5]:
#code cell to add numbers 
99+1

100

In [11]:
minutes = 100
hours = minutes//60
minutes = minutes%60
time = "{}:{}".format(hours,minutes)
print(time)

1:40