# Peer_assignment

## this is the introduction to the peer assignment submitted. Do grace me with marks.

### Datascience languages list:
* Python
* R
* SQL
* Scala
* Java
* Julia
* C++
* Perl

### List of some data science libraries:
* NLTK
* Tensorflow
* Pandas
* Scipy
* GGplot
* Numpy
* scikit learn
* Dplyr
* Tidyverse
* TidyText
* Matplotlib
* Math

### This is the table of Data science Tools:
* Tableu
* Google Colab
* Watson
* Jupyter notebook
* JupyterLab
* MS PowerBI
* RStudio
* Apache Spark
* SPSS
* SAS
* SPreadsheets
* KNIME

### Markdown for arethmetic examples:
* 2*2 
* 2+4
* 2/4
* 2//4
* 2-4

In [4]:
#code cell to multiply numbers
2*2

4

In [5]:
#code cell to add numbers 
99+1

100

In [11]:
minutes = 100
hours = minutes//60
minutes = minutes%60
time = "{}:{}".format(hours,minutes)
print(time)

1:40

### Markdown for objectives
* Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

* Exercise 3 - Create a markdown cell for an introduction. (1 pt)

* Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

* Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

* Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

* Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

* Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

* Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

* Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

* Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

* Exercise 12 - Share your notebook through GitHub (3 pts)

* Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)